.container{
    margin-top: 250px;
}
.navbar{
    background-color:#4d94ff;
    overflow:hidden;
}
body{
    background-color: #f2f2f2;
    background-image: url("/css/img/password.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#title{
    font-weight: bold;
}
.form-control{
    font-weight: bold;
}