/**
 * Set default style for invalid elements.
 */
:not(output):-moz-ui-invalid {
    box-shadow: 0 0 0 0;
}

:not(output):-moz-ui-invalid:-moz-focusring {
    box-shadow: 0 0 0 0;
}

#main {
    margin: 20px;
}

body, input {
    background-color: #f4f4f4;
}

.even, th {
    background-color: white;
}

strong {
    text-transform: uppercase;
}