.btt {
    white-space: nowrap;
    width: 1%;
}

.btt button {
    align-content: center;
}

.macathi {
    white-space: nowrap;
    width: 1%;
}

.empty {
    text-align: center;
}

#pdf {
    height: 80%;
    width: 80%;
}