/**
 * Set default style for invalid elements.
 */
:not(output):-moz-ui-invalid {
    box-shadow: 0 0 0 0;
}

:not(output):-moz-ui-invalid:-moz-focusring {
    box-shadow: 0 0 0 0;
}

body {
    margin: 20px;
}

tr:hover {
    cursor: pointer;
}